/*    */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 70px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 1em #d4af37, 0 0 0.2em #d4af37;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  padding: 40px 10px 10px 10px;
}

h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding: 40px 10px 10px 10px;
}

h5 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 8px 3px 8px 3px;
}

.linea1 {
  border-top: 5px solid white;
  width: 100%;
}

/*    */
.linea2 {
  border-top: 5px solid black;
  width: 100%;
}

/*    */
.linea3 {
  border-top: 3px solid black;
  width: 100%;
}


#contenedorgeneral {
  width: 1004px;
  height: 3850px;
  background-color: #006691;
  font-family: Arial, Helvetica, sans-serif;
}

.bannerResume {
  background-color: black;
  background-position: center;
  width: 98%;
  margin: 10px 10px 10px 10px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d4af37;
}

.bannerNombres {
  background-color: black;
  background-position: center;
  width: 98%;
  margin: 0px 10px 20px 10px;
  height: 65px;
  border: 5px solid #d4af37;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d4af37;
}

.box1 {
  width: 38%;
  height: 400px;
  background-color: white;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  margin: 10px 10px;
  border-radius: 20px;
  box-shadow: 7px 10px 15px black;
  float: left;
}

.marcoImagenPrincipal {
  width: 58%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 10px 10px;
  border-radius: 20px;
  box-shadow: 7px 10px 15px black;
  float: right;
}

.marcoImagenPrincipal img {
  width: 100%;
  height: 100%;
}

.marcoImagenPrincipal p {
  font-size: 4rem;
  color: white;
  position: absolute;
  top: 82%;
  left: 80%;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  transform: translate(-50%, -50%);
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*   comentario          */

#menu ul li {
  display: inline-block;
}

/*   comentario          */

#menu ul li a {
  display: block;
  background-color: #191970;
  border: #ffffff 2px solid;
  color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: 50px 5px 10px 5px;
  box-shadow: 7px 10px 15px black;
  padding: 15px 35px 15px 30px;
  text-decoration: none;
}

/*   comentario          */
#menu ul li a:hover {
  height: 60px;
  margin: 50px 5px 10px 5px;
  padding: 15px 30px 15px 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border: 2px solid #d4af37;
  color: #d4af37;
  box-shadow: 7px 10px 15px black;
  background-color: #ffffff;
}

.estudiosCursados {
  width: 58%;
  height: 1050px;
  margin: 50px 10px 10px 5px;
  border-top-right-radius: 40px;
  background-color: #2499c7;
  box-shadow: 7px 10px 15px black;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  float: right;
  text-align: center;
}

.galeriaImagenes {
  width: 38%;
  height: 547px;
  margin: 50px 5px 10px 10px;
  background-color: #006691;
  border-bottom-left-radius: 40px;
  box-shadow: 7px 10px 15px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  float: left;

}

.videoTakeoff {

  width: 58%;
  height: 315px;
  margin: 50px 10px 10px 10px;
  border: 2px solid black;
  background-color: black;
  box-shadow: 7px 15px 15px blue;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  text-align: left;
}

.datosPersonales {
  width: 38%;
  height: 660px;
  margin: 50px 5px 10px 10px;
  background-color: #3165f4;
  border: 2px solid black;
  border-top-left-radius: 40px;
  box-shadow: 7px 10px 15px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  float: left;
}

.experienciaLaboral {
  width: 38%;
  height: 1560px;
  margin: 50px 5px 10px 10px;
  background-color: #40cfff;
  border: 2px solid black;
  box-shadow: 7px 10px 15px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  float: left;
}

.expLabTitulo {
  width: 97%;
  height: 100px;
  margin: 30px 5px 20px 5px;
  background-color: #191970;
  border: rgb(0, 0, 0) 5px solid;
  float: left;
  text-align: center;
}

/*   cajas individuales contenedor central experienciaLaboral*/
.canadaAir {
  width: 97%;
  height: 260px;
  background-color: black;
  background-image: url(imagenes/air-canada-logo-2.png);
  background-size: 165px 25px;
  background-repeat: repeat-x;
  background-attachment: local;
  background-position-y: 37px;
  margin: 20px 5px 10px 5px;
  border: rgb(0, 0, 0) 5px solid;
  float: left;
  text-align: center;
  color: blue;
  image-rendering: pixelated;
}

/*cajas individuales contenedor central experienciaLaboral*/
.qATARAIRWAYS {
  width: 97%;
  height: 200px;
  background-color: black;
  background-image: url(imagenes/QATARAIRWAYS.png);
  background-size: 165px 25px;
  background-repeat: repeat-x;
  background-attachment: local;
  background-position-y: 37px;
  margin: 20px 5px 10px 5px;
  border: rgb(0, 0, 0) 5px solid;
  float: left;
  text-align: center;
  color: blue;
  image-rendering: pixelated;
}

/*cajas individuales contenedor experienciaLaboral*/
.qantas {
  width: 97%;
  height: 220px;
  background-color: black;
  background-image: url(imagenes/Qantas.png);
  background-size: 80px 25px;
  background-repeat: repeat-x;
  background-attachment: local;
  background-position-y: 37px;
  margin: 20px 5px 10px 5px;
  border: rgb(0, 0, 0) 5px solid;
  float: left;
  text-align: center;
  color: blue;
  image-rendering: pixelated;
}

/*cajas individuales contenedor central experienciaLaboral*/
.AerolineasArgentinas {
  width: 97%;
  height: 290px;
  background-color: black;
  background-image: url(imagenes/AerolineasArgentinas.png);
  background-size: 90px 25px;
  background-repeat: repeat-x;
  background-attachment: local;
  background-position-y: 37px;
  margin: 20px 5px 10px 5px;
  border: rgb(0, 0, 0) 5px solid;
  float: left;
  text-align: center;
  color: blue;
  image-rendering: pixelated;
}

/*cajas individuales contenedor central experienciaLaboral*/
.australla {
  width: 97%;
  height: 270px;
  background-color: black;
  background-image: url(imagenes/australLA.png);
  background-size: 20px 25px;
  background-repeat: repeat-x;
  background-attachment: local;
  background-position-y: 37px;
  margin: 20px 5px 10px 5px;
  border: rgb(0, 0, 0) 5px solid;
  float: left;
  color: blue;
  text-align: center;
}




.visitas {
  width: 58%;
  height: 1400px;
  margin: 50px 10px 10px 10px;
  border: 2px solid #d4af37;
  background-color: black;
  border-bottom-right-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  text-align: center;

}


/*   autor del trabajo         */
.autor {
  background-color: #40cfff;
  width: 99%;
  margin: 40px 10px 10px 10px;
  height: 70px;
  float: left;
  border: 2px solid #d4af37;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  color: white;
}

/*

*/
form {
  justify-content: flex-end;
  margin: 20px 10px 10px 10px;
  background-color: #252850;
  padding: 20px 10px 10px 10px;
  color: white;

}

/*
*/
input,
select {
  width: 70%;
  margin: 20px 5px 20px 5px;
  font-size: 1.2em;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
  border: black;
}

/*

}*/

input[type="submit"] {
  font-size: 1em;
  color: white;
  background-color: #d4af37;
  border-color: 3px solid black;
  height: 50px;
  width: 50px;
  border-top: 40px;
  border-bottom: 40px;
  cursor: pointer;
  padding: .6em 1em;
  width: 100%;
  border-radius: 2px;
}

input[type="submit"]:hover {
  background: red;
  transition: 0.4s all;
}

@media(min-width:728px) {
  form {
    width: 500px;
    margin: auto;
  }
}